*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  body{
     background-color: #222120;
     overflow: auto;
     overflow-x: clip;
  }


::-webkit-scrollbar {
  width: 5px;

}

::-webkit-scrollbar-thumb {
  background-color: #717171; 
  border-radius: 40px;
}

.playlist {
  scrollbar-width: thin; 
}
/* 
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
} */

  
  .wrapper{
    display: flex;
    position: relative;
  }
  
  .wrapper .sidebar{
    width: 13vw;
    height: 100vh;
    display: grid;
    background: #222120;
    padding: 30px 0;
    position: fixed;

    justify-content: center;
    grid-template-rows: max-content max-content max-content auto;
    }
  .wrapper .sidebar .logo {
    padding-bottom: 30px;
    }
  .wrapper .sidebar .logo img{
    height: 5vh;
    width: 11.5vw;
    margin: 15px 10px;
  }
  
  .wrapper .sidebar ul li{
    padding: 15px;
    border-top: 1px solid #333333;
   ;
  }    
  
  .wrapper .sidebar ul li a{
    color: #717171;
    display: flex;
    align-items: center;
  }
  .wrapper .sidebar .playlist{
    overflow-y: auto;
  }
  
  .wrapper .sidebar ul li a .ti{
    color: #fa586a;
    font-size: 20px;
    padding: 5px;
  }
  
  .wrapper .sidebar ul li:hover{
    background-color: #333333;
  }
      
  .wrapper .sidebar ul li:hover a{
    color: #222120;
  }
   
  .wrapper .sidebar .log_out{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .wrapper .sidebar .log_out a{
    display: block;
    width: 100px;
    background: #222120;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #fa586a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .wrapper .sidebar .log_out a .ti{
    padding: 5px;
  }
  
  .wrapper .main_content{
    width: 100vw;
    margin-left: 13vw;
    position: relative;
  }
  
  .wrapper .main_content .info{
    margin: 20px;
    color: #717171;
    /* line-height: 25px; */
  }
  
  /* .wrapper .main_content .info div{
    margin-bottom: 20px;
  } */
  
  @media (max-height: 500px){
    .log_out{
      display: none !important;
    }
  }

  

  .main_content {
      width: 100%;
      margin: 0;
      background-image: linear-gradient(0deg, rgba(34, 33, 32, 0.5), rgba(51, 51, 51, 0.5));
  }

  .wrapper .main_content .header{
    display: flex;
    height: 70px;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    background-color: transparent;
    color: #717171;
    border-bottom: 1px solid #333333;
    align-items: center;
    z-index: 1;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
  .header .nav1{
    position: relative;
    width: 400px;
    height: 40px;
    flex: 70%;
  }

  .header .nav1 input {
    background-color: transparent;
    width: 510px;
    height: 40px;
    font-size: 17px;
    padding: 0px 30px 0px 20px;
    border: 1px solid #333333;
    border-radius: 20px;
    color: #717171;
}


.header .nav1 button {
  position: absolute;
  top: 0;
  left: 450px;
  width: 60px;
  height: 40px;
  background-color: #fa586a;
  border: 1px solid #333333;
  border-radius: 0px 20px 20px 0px;
}

.header .nav1 .ti{
  height: 100%;
  width: 100% ;
  font-size: 24px;
  color: #333333;
}

.header .nav2{
  flex: 15%;
  display: inherit;
  justify-content: right;
  align-items: center;
}


.header .nav2 button{
  /* padding-left: 30%; */
  /* flex: 15%; */
  /* position: absolute; */
  /* top: 0; */
  /* right: 0; */
  width: 120px;
  height: 28px;
  background-color: transparent;
  border: 1px solid #fa586a;
  border-radius: 20px;
  color: #fa586a;

}

.header .nav3{
  flex: 15%;
  /* width: 120px; */
  height: 28px;
  display: inherit;
  position: relative;
  justify-content: center;
  /* align-items: center; */
}
.header .nav3 a{
  position: absolute;
  height: 100%;
  width: 100%;
  display: inherit;
  /* justify-content: center; */
  align-items: center;
}

.header .nav3 img{
  border-radius: 40px;
  border:1px solid #fa586a;
  /* position: absolute; */
  /* right: 140px; */
  margin-left: 60px;
  z-index: 1;
}
.header .nav3 .ti{
  font-size: x-large;
  color: #fa586a;
  position: absolute;
  top: 10px;
  margin-left: 80px;
  z-index: 2;

}

.header .nav3 button{
  position: absolute;
  left: 0px;
  padding: 0px 20px;
  margin-left: 81px;
  min-width: 100px;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  height: 28px;
  background-color: transparent;
  border: 1px solid #fa586a;
  border-radius: 20px;
  color: #fa586a;
}