.info{
    overflow:auto;
}

div::-webkit-scrollbar {
    width: 5px;
  
  }

.row-1 {
    display: grid;
    overflow-x: auto;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px; /* Adjust as needed */
}

.row-2 {
    display: grid;
    /* overflow: scroll; */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px; /* Adjust as needed */
}

.row-3 {
    display: grid;
    /* overflow: scroll; */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px; /* Adjust as needed */
}