<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}
    {% endblock %}
    
</head>
<body>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<div class="wrapper">
    <div class="sidebar">
        <h2>Sidebar</h2>
        <ul>
            <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="#"><i class="fas fa-radio"></i>Radio</a></li>
            <li><a href="#"><i class="fas fa-address-card"></i>Playlists</a></li>
            <li><a href="#"><i class="fas fa-blog"></i>Albums</a></li>
<!-- 
            <i class="fas">Your Library</i>
            <li><a href="#"><i class="fas fa-address-book"></i>Liked Songs</a></li> -->
        </ul> 
        <div class="social_media">
    
          <a href="#"><i class="fab fa-twitter"></i></a>

      </div>
    </div>
    <div class="main_content">
        <div class="header">search?</div>  
        <div class="info">
            <div>
                {% block content %} 
                {% endblock %}
            </div>
            
      </div>
    </div>
</div>
</body>
</html>