<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/music_disc.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}
    {% endblock %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css" />
</head>

<body>
    
    <div class="wrapper">
        <div class="sidebar">
            <div class="logo">
                <a href="{{url_for('home')}}">
                    <img src="{{ url_for('static', filename='img/tunein-logo-transparent.png') }}" alt="site-logo" height="100px">
                </a>
            </div>

            <ul>
                <li><a href="{{url_for('home')}}"><i class="ti ti-home"></i><p>Home</p></a></li>
                <li><a href="{{url_for('radio')}}"><i class="ti ti-radio"></i><p>Radio</p></a></li>
                <li><a href="{{url_for('playlists')}}"><i class="ti ti-playlist"></i><p>Playlists</p></a></li>
                <li><a href="{{url_for('albums')}}"><i class="ti ti-album"></i><p>Albums</p></a></li>
            </ul>
            {% if current_user.is_authenticated %}
            <ul>
                <li><strong style="display: flex; justify-content: space-between;"> <a><p>Your Library</p></a>
                    <a  href="{{url_for('playlist.create_playlist')}}" class="ti ti-plus" style="font-weight: bolder;"></a></strong></li>
            </ul>
            
            <ul class="playlist">
                <li><a href="{{url_for('user_liked_songs')}}"><i class="ti ti-heart"></i><p>Liked Songs</p></a></li>

                {% for playlist in user_playlists %}
                <li><a href="{{url_for('playlist.playlist_detail', playlist_id=playlist.playlist_id)}}"><img src="{{ url_for('static', filename=playlist.img) }}" height="40px"></img><p style="padding-left: 5px;">{{ playlist.title }}</p></a></li>
                {% endfor %}
            </ul>
            {% endif %}


            <div class="log_out">
                {% if current_user.is_authenticated %}
                <a href="{{url_for('auth.logout')}}"><i class="ti ti-logout-2"></i>Log Out</a>
                {% endif %}
            </div>

        </div>


        <div class="main_content">
            <div class="header">
                {% if current_user.is_authenticated%}
                <div class="nav1">
                    <form action="{{ url_for('search') }}" id="searched" method="POST">
                        <input type="search" name="search" id="search" placeholder="Enter your query">
                        <button type="submit" form="searched"><i class="ti ti-search"></i></button>
                    </form>
                </div>

                <div class="nav2"><a href="{{url_for('auth.creator')}}"><button type="button">Join as Creator</button></a></div>

                <div class="nav3">
                    <a href="{{url_for('auth.update_user', user_id=current_user.id)}}"">
                    <img src=" {{ url_for('static', filename=current_user.pfp) }}" alt="" height="40px" width="40px">
                        <i class="ti ti-user-edit"></i>
                        <button type="button">Hey, {{ current_user.first_name }}</button>
                    </a>
                </div>

                {% else %}
                {% block nav %}
                {% endblock %}
                {% endif %}

            </div>
            <div class="info">
                <div>
                    {% block content %}
                    {% endblock %}
                </div>

            </div>
        </div>
    </div>


    <script>
        function likeButtonClick(song_id) {
        
            fetch('/liked/'+song_id, {method:'GET'})
            .then(response => response.json())
            .then(data => {
                var likeButton = document.querySelector('.likeButton[data-song-id="'+song_id+'"]');
                likeButton.classList.toggle('ti-heart-filled', data.action === 'like');
                likeButton.classList.toggle('ti-heart', data.action==='unlike');
                
                if(data.action === 'like'){
                    console.log('Song liked -',song_id);
                } else {
                    console.log('Song unliked -', song_id);
                }
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>

</html>