{% extends "base.html" %}
{% block head %}
<title>TuneIn-search</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}


{% block content %}

<div class="container">
    {% if songs %}
    <h1 class="body-heading">Songs</h1>
    <div class="row-1">
        {% for song,username in songs %}
        <div class="song">
            <a href="{{ url_for('played', title=song.title, song_id=song.song_id)}}">
                <i class="ti ti-player-play play-button">
                </i>
                <img src="{{ url_for('static', filename=song.img)}}" alt="Song cover" height="180px">


                <div class="details">
                    <div>
                        <h3>{{ song.title }}</h3>
                        <h6>{{ username }} <i class="ti ti-point-filled"></i> {{song.genre}} </h6>
                    </div>
            </a>

            <div class="like">
                {% if song.song_id in current_user.likes|map(attribute='song_id') %}
                <i class="ti ti-heart-filled likeButton" data-song-id="{{ song.song_id }}"
                    onclick="likeButtonClick({{song.song_id}})"></i>
                {% else %}
                <i class="ti ti-heart likeButton" data-song-id="{{ song.song_id }}"
                    onclick="likeButtonClick({{song.song_id}})"></i>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if playlists %}
<h1 class="body-heading">Playlists</h1>
<div class="row-2">
    {% for playlist, username in playlists %}
    <div class="song">
        <a href="{{ url_for('playlist.playlist_detail', title=playlist.title, playlist_id=playlist.playlist_id) }}">
            <i class="ti ti-player-play play-button">
            </i>
            <img src="{{ url_for('static', filename=playlist.img)}}" alt="playlist cover" height="180px">


            <div class="details">
                <div>
                    <h3>{{ playlist.title }}</h3>
                    <h6>{{ username }} </h6>
                </div>
        </a>

        <div class="like">

        </div>
    </div>
</div>
{% endfor %}
</div>
{% endif %}

{% if albums %}
<h1 class="body-heading">Albums</h1>
<div class="row-3">
    {% for album,username in albums %}
    <div class="song">
        <a href="{{ url_for('album.album_detail', title=album.title, album_id=album.album_id)}}">
            <i class="ti ti-player-play play-button">
            </i>
            <img src="{{ url_for('static', filename=album.img)}}" alt="album cover" height="180px">


            <div class="details">
                <div>
                    <h3>{{ album.title }}</h3>
                    <h6>{{ username }}</h6>
                </div>
        </a>

        <div class="like">

        </div>
    </div>
</div>
{% endfor %}
</div>
{% endif %}
</div>

{% endblock %}