{% extends "base.html" %}
{% block head %}
<title>TuneIn-Creator</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <fieldset>
        <h1 class="heading">Became a Creator</h1>
        <h2></h2>
        <form action="{{ url_for('auth.creator') }}" method="post">
            {{form.hidden_tag()}}
            <li>
                <legend for="{{ form.username.id }}">Display Name</legend>:
                {{ form.username(placeholder="Enter your Display Name") }}
            </li>
            <li>
                <legend for="{{ form.password.id }}">Password</legend>:
                {{ form.password(placeholder="Enter your Password") }}
            </li>

            <li class="errors">
                {% for field, errors in form.errors.items() %}
                {% for error in errors %}
                <i class="flashed">{{ error }}</i>
                {% endfor %}
                {% endfor %}

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <i class="flashed">{{ messages[-1] }}</i>
                {% endif %}
                {% endwith %}
            </li>
            <li>
                <input type="submit" value="Register as Creator">
            </li>
        </form>
    </fieldset>
</div>
{% endblock %}