{% extends "base.html" %}
{% block head %}
<title>TuneIn-Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block nav %}
<div class="nav1">
    
</div>

<div class="nav2" style="justify-content: space-evenly;">
    <a href="{{ url_for('auth.register') }}"><button type="button">Register</button></a>

   <a href="{{url_for('auth.admin_login')}}"><button type="button">Login as Admin</button></a>
    </a>
</div>
{% endblock %}



{% block content %}
<div class="container">
    <fieldset>
        <h1 class="heading">LogIn to TuneIn</h1>
        <h2></h2>
        <form action="{{ url_for('auth.login') }}" method="post">
            {{form.hidden_tag()}}
            <li>
                <legend for="{{ form.email.id }}">Email</legend>:
                {{ form.email(placeholder="Enter your registered email") }}
            </li>
            <li>
                <legend for="{{ form.password.id }}">Password</legend>:
                {{ form.password(placeholder="Enter your Password") }}
            </li>
            
            <li class="errors">
                {% for field, errors in form.errors.items() %}
                    {% for error in errors %}
                        <i class="flashed">{{ error }}</i>
                    {% endfor %}
                {% endfor %}

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                            <i class="flashed">{{ messages[-1] }}</i>
                    {% endif %}
                {% endwith %}
            </li>
            <li>
                <input type="submit" value="Log In">
            </li>
        </form>
    </fieldset>
</div>
{% endblock %}