{% extends "base.html" %}
{% block head %}
<title>TuneIn-Register</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block nav %}
<div class="nav1">
    
</div>

<div class="nav2" style="justify-content: space-evenly;">
    <a href="{{ url_for('auth.login') }}"><button type="button">Login</button></a>

   <a href="{{url_for('auth.admin_login')}}"><button type="button">Login as Admin</button></a>
    </a>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <fieldset>
        <h1 class="heading">Create Your Account</h1>
        <h2>Let the Melody Mount!</h2>
        <form action="{{ url_for('auth.register') }}" method="post">
            {{form.hidden_tag()}}
            <li>
                <legend for="{{ form.email.id }}">Email</legend>:
                {{ form.email(placeholder="your.email@example.com") }}
            </li>
            <li>
                <legend for="{{ form.username.id }}">Username</legend>:
                {{ form.username(placeholder="Enter a username") }}
            </li>
            <li>
                <legend for="{{ form.fname.id }}">First Name</legend>:
                {{ form.fname(placeholder="Enter the First Name") }}
            </li>

            <li>
                <legend for="{{ form.lname.id }}">Last Name</legend>:
                {{ form.lname(placeholder="Enter the Last Name") }}
            </li>

            <li>
                <legend for="{{ form.dob.id }}">Birthdate</legend>:
                {{ form.dob(placeholder="birthday") }}
            </li>

            <li>
                <legend for="{{ form.password.id }}">Password</legend>:
                {{ form.password(placeholder="Password must be 8+ characters") }}
            </li>

            <li class="errors">
                {% for field, errors in form.errors.items() %}
                    {% for error in errors %}
                        <i class="flashed">{{ error }}</i>
                    {% endfor %}
                {% endfor %}

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                            <i class="flashed">{{ messages[-1] }}</i>
                    {% endif %}
                {% endwith %}
            </li>
            <li>
                <input type="submit" value="Register">
            </li>
        </form>
    </fieldset>
</div>
{% endblock %}