{% extends "base.html" %}
{% block head %}
<title>TuneIn-Register</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <fieldset>
        <!-- <h1 class="heading">Create Your TuneIn Account</h1>
        <h2>Where Music Comes Alive</h2> -->
        <h1 class="heading">Edit Profile</h1>
        <h2></h2>
        <form action="{{ url_for('auth.update_user', user_id=current_user.id) }}" method="post" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <li>
                <legend for="email">Email</legend>:
                <input type="email" name="email" id="email" value='{{ current_user.email }}'readonly>
            </li>

            <li>
                <legend for="{{ form.first_name.id }}">First Name</legend>:
                {{ form.first_name() }}
            </li>

            <li>
                <legend for="{{ form.last_name.id }}">Last Name</legend>:
                {{ form.last_name() }}
            </li>

            <li>
                <legend for="{{ form.dob.id }}">Birthdate</legend>:
                {{ form.dob(default=current_user.dob) }}
            </li>

            <li>
                <legend for="{{ form.password.id }}">Password</legend>:
                {{ form.password(placeholder="Your password") }}
            </li>
            <li>
                <legend for="{{ form.img.id }}">Upload you Profile pic</legend>:
                {{ form.img(value=current_user.pfp) }}
            </li>


            <li>
                {% for field, errors in form.errors.items() %}
                    {% for error in errors %}
                        <i class="flashed">{{ error }}</i>
                    {% endfor %}
                {% endfor %}

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <i class="flashed">{{ message }}</i>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </li>
            <li>
                <input type="submit" value="Register">
            </li>
        </form>
    </fieldset>
</div>
{% endblock %}