{% extends "base.html" %}
{% block head %}
<title>Liked Songs</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}">
{% endblock %}


{% block content %}

<div class="main-body">
    <div class="left">
        <div class="image"><i class="ti ti-heart-filled heart"></i></div>
        <div class="details">
            <div>
            <h2>Liked Songs</h2>
            <h4>{{current_user.username}}</h4>
            </div>
        </div>
        <div class="btns">
            
        </div>
    </div>


    <div class="right">
        <table class="table">
            <thead>
                <tr>
                    <th> Songs</th>
                    <th></th>
                    <th>Title</th>
                    <th>Genre</th>
                    <th></th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                {% for song in liked_song %}
                <tr>
                    
                    <td>
                        <img src="{{ url_for('static', filename=song.img) }}" alt="" height="40px">
                    </td>

                    <td>
                        <a href="{{ url_for('played', title=song.title, song_id=song.song_id)}}">
                        <i class="ti ti-player-play"></i>
                        </a>

                    </td>
                    <td>
                        <a href="{{ url_for('played', title=song.title, song_id=song.song_id)}}">
                        {{song.title}}
                        </a>
                    </td>
                    <td>
                        {{song.genre}}
                    </td>
                    <td><div class="like">
                        {% if song.song_id in current_user.likes|map(attribute='song_id') %}
                        <i class="ti ti-heart-filled likeButton" data-song-id="{{ song.song_id }}"
                            onclick="likeButtonClick({{song.song_id}})"></i>
                        {% else %}
                        <i class="ti ti-heart likeButton" data-song-id="{{ song.song_id }}"
                            onclick="likeButtonClick({{song.song_id}})"></i>
                        {% endif %}
                    </div></td>
                    <td class="td-5">{{song.duration}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

